<div id="{{item.name}}SelectorCard" class="item-card">
  <h1>{{item.name}}</h1>
  <h5 id="removeItem" class="item-selector" data-target='#{{item.name}}Card' data-name='{{item.name}}'>Remove</h5>
</div>
